.newsletter {
  background: var(--primaryClr600);
  padding-top: 2rem;
  padding: 5rem 0;
}

.newsCenter {
  width: 90vw;
  margin: 0 auto;
}

.newsTitle h2 {
  color: var(--coral);
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

.newsTitle p {
  color: var(--black);
  font-size: 0.9rem;
  font-weight: 400;
}

.newsForm input {
  width: 100%;
  padding: 0.3rem 0 0.3rem 0.5rem;
  margin-bottom: 0.2rem;
}

.newsForm input:focus {
  border: 3px solid var(--cherry-red);
}

.newsForm .newsBtn {
  cursor: pointer;
  border: none;
  background: var(--secondaryClr300);
  color: var(--white);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.3rem 1.2rem;
  letter-spacing: 1px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.newsForm .newsBtn:hover {
  background: var(--black);
}

@media screen and (min-width: 768px) {
  .newsForm input {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .newsCenter {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0 2rem;
  }

  .newsForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsForm input {
    padding: 0.5rem;
  }

  .newsForm .newsBtn {
    padding: 0.5rem;
  }
}
